.box {
    background-color: purple;
    border-radius: 5px;
    height: 60px;
    margin: 15px 0;
}

.green-box {
    background-color: green;
    border-radius: 5px;
    height: 40px;
    margin: 15px 0;
}


.content-pane {
    border: 1px solid #aaa;
    height: calc(100vh - 170px);
    width: 100%;
    overflow: scroll;
}

.current-room {
    background-color: #333;
    color: white;
}

.message {
    padding: 4px 12px 4px 4px;
}

.notification {
    padding: 4px 12px 4px 4px;
    color: #ccc;
    font-style: italic;
    text-align: center;
}

.username {
    padding: 4px 8px;
    font-weight: bold;
}

.copy {
    display:none;
}

.row {
    margin: 10px 0;
}